<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="host" value="127.0.0.1" />
    <add key="user" value="root" />
    <add key="passwd" value="admin" />
    <add key="database" value="ddb" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>